<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAK + DenoKV</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"
    ></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold p-5 w-full">
      Users
    </h1>
    <div class="p-5">
        <div class="py-3 border-1 rounded bg-gray-200 w-6/12">
            <ul
            hx-post="/htmx/users"
            hx-ext="json-enc"
            hx-vals='js:{element: "li", className: " px-5 py-1 font-bold text-blue-500"}'
            hx-trigger="load, click from:#submitButton delay:1s, click from:#deleteButton delay:1s"
            id="loader"
            >
            </ul>
        </div>
    </div>

    <div class="p-5"><span id="newDataId"></span></div>
    <form
      class="p-5"
      hx-post="/api/users"
      hx-ext="json-enc"
      hx-target="#newDataId"
    >
      <div class="mb-6 w-6/12">
        <div>
          <label
            for="firstName"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >First name</label>
          <input
            type="text"
            id="firstName"
            name="firstName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="First Name"
            required
          />
        </div>
        <div>
          <label
            for="lastName"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Last name</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Last Name"
            required
          />
        </div>
      </div>

      <button
        type="submit"
        id="submitButton"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </body>
</html>
